@import "styles/footer.css";
@import "styles/navbar.css";
@import "styles/generics.css";


/*
    Define color schema here:
 */
:root {
    --primary: #ffffff;
    --secondary: #1e90ff;
    --tertiary: #22223b;
    --headline: #22223b;
    --text: #22223b;
    --text-visited: #22223b;
    --text-hover: #000000;
    --highlight: #ffffff;
}

/*
    Others and to be removed:
 */

.bgColor {
    background-color: var(--primary);
}

/*selector with attribute*/

label[for="title"] {
    color: var(--primary);
}

/* pseudo class selector*/


#loginLink {
    color: var(--headline)
}